.swiper--fullscreen {
	width: 100vw;
	height: 100vh;
}
.swiper-slide--fullscreen {
	width: 100vw;
	height: 100vh;
}

h2,p{
    margin: 0;
    padding: 0;
}

video#video{
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/*     SCREEN 1 */

.screen1 {
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0px;
}

.screen1__title {
    text-align: center;
}

h2.title,
p.social-blok__text {
    color: #fff;
}

h2.title{
    font-size: 35px;
    line-height: 2;
}

img.icon {
    width: 45px;
    height: 45px;
}

/*     SCREEN 2   */

.screen2__title{
    text-align: center;
}